{% extends 'base.html' %}

{% load filters %}

{% block headline %}
Diary entries for {{ child.name }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr class="d-flex">
            <th class="col-2">Date</th>
            <th class="col-2">Title</th>
            <th class="col-6">Text</th>
            <th class="col">Actions</th>
          </tr>
        </thead>
      
        <tbody>
          {% for o in object_list %}
          <tr class="d-flex">
            <th class="col-2" scope="row"> {{ o.dt|dt_localdate }}</th>
            <td class="col-2">{{ o.title }}</td>
            <td class="col-6">{{ o.content }}</td>
            <td class="col">
              <a class='btn btn-secondary btn-sm' href='{% url 'diary_edit' child.id o.id %}'>
                <i class="material-icons">edit</i>
              </a>
              <a class='btn btn-danger btn-sm' href='{% url 'diary_delete' child.id o.id %}'>
                <i class="material-icons">delete</i>
              </a>
           </td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

{% endblock %}
