{% extends 'base.html' %}

{% load filters %}

{% block headline %}
Meals for {{ child.name }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr class="d-flex">
            <th class="col-3">Date</th>
            <th class="col-1">Time</th>
            <th class="col-1">End</th>
            <th class="col-1">Dur.</th>
            <th class="col-4">Food</th>
            <th class="col">Actions</th>
          </tr>
        </thead>
      
        <tbody>
          {% for o in object_list %}
          <tr class="d-flex">
            <th class="col-3" scope="row"> {{ o.dt|dt_localdate }}</th>
            <td class="col-1">{{ o.dt|dt_localtime }}</td>
            <td class="col-1">{{ o.dt_end|dt_localtime }}</td>
            <td class="col-1">{{ o.duration_hhmm }}</td>
            <td class="col-4"> {% for f in o.food.all %} {{ f }} {% endfor %} </td>
            <td class="col">
              <a class='btn btn-secondary btn-sm' href='{% url 'meals_edit' child.id o.id %}'>
                <i class="material-icons">edit</i>
              </a>
              <a class='btn btn-danger btn-sm' href='{% url 'meals_delete' child.id o.id %}'>
                <i class="material-icons">delete</i>
              </a>
           </td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

{% endblock %}
