{% extends 'base.html' %}

{% load filters %}

{% block headline %}
Sleep phases for {{ child.name }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr class="d-flex">
            <th class="col-4">Date</th>
            <th class="col-2">Start</th>
            <th class="col-2">End</th>
            <th class="col-2">Duration</th>
            <th class="col">Actions</th>
          </tr>
        </thead>
      
        <tbody>
          {% for o in object_list %}
          <tr class="d-flex">
            <th class="col-4" scope="row"> {{ o.dt|dt_localdate }}</th>
            <td class="col-2">{{ o.dt|dt_localtime }}</td>
            <td class="col-2">{{ o.dt_end|dt_localtime }}</td>
            <td class="col-2">{{ o.duration_hhmm }}</td>
            <td class="col">
              <a class='btn btn-secondary btn-sm' href='{% url 'sleepphases_edit' child.id o.id %}'>
                <i class="material-icons">edit</i>
              </a>
              <a class='btn btn-danger btn-sm' href='{% url 'sleepphases_delete' child.id o.id %}'>
                <i class="material-icons">delete</i>
              </a>
           </td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

{% endblock %}